<template>
  <div class="history-container">
    <div class="top-wrapper">
      <span class="result">
        Result
      </span>
      <input
        type="text"
        v-model="search"
        placeholder="Search by result, date"
      >
      <select v-model="filter">
        <option value="">
          All
        </option>
        <option value="Calculator A">
          Calculator A
        </option>
        <option value="Calculator B">
          Calculator B
        </option>
      </select>
    </div>
    <div class="box-wrapper">
      <div
        class="history-item"
        v-for="(history, index) in filterHistories"
        :key="index"
      >
        <div class="top">
          <span class="name">{{ history.name }}</span>
          <span class="date">{{ history.displayDate }}</span>
        </div>
        <div class="content">
          <span class="result">{{ history.result }}</span>
          <div class="line" />
          <span class="equation">{{ history.displayEquation }}</span>
        </div>
      </div>
      <button class="clear" @click="clear">CLEAR</button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import moment from 'moment'

export default {
  computed: {
    ...mapState({
      histories: state => state.history.data
    }),
    filterHistories () {
      let histories = this.histories.map((history) => {
        return {
          ...history,
          displayDate: moment(history.date).format('DD/MM/YYYY - HH:mm:ss')
        }
      })
      if (this.filter) {
        histories = histories.filter(history => history.name === this.filter)
      }
      if (this.search) {
        histories = histories.filter((history) => {
          return `${history.result}`.includes(this.search) ||
            history.displayDate.includes(this.search)
        })
      }
      return histories
    }
  },
  data () {
    return {
      search: '',
      filter: ''
    }
  },
  methods: {
    clear () {
      if (confirm('คุณแน่ใจที่จะลบประวัติทั้งหมด ?')) {
        this.$store.commit('history/resetHistory')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.history-container {
  flex: 1;
  height: 100%;
  > .top-wrapper {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    > .result {
      margin-right: auto;
    }
    > input {
      outline: none;
      border-radius: 8px;
      border: 1px solid #aaaaaa;
      padding: 4px 12px;
      margin-right: 12px;
    }
    > select {
      outline: none;
      border-radius: 8px;
      border: 1px solid #aaaaaa;
      padding: 4px 12px;
    }
  }
  > .box-wrapper {
    display: flex;
    flex-direction: column;
    padding: 38px;
    border-radius: 24px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 0.5);
    -moz-box-shadow: 0px 0px 10px 0pxrgba(222, 222, 222, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 0.5);
    overflow-y: auto;
    height: 100%;
    > .history-item {
      margin-bottom: 12px;
      > .top {
        display: flex;
        justify-content: space-between;
        > .date {
          color: #a7d4fa;
        }
      }
      > .content {
        > .result {
          font-size: 20px;
        }
        > .line {
          width: 100%;
          height: 1px;
          background-color: #aaaaaa;
        }
      }
    }
    > .clear {
      position: absolute;
      bottom: 24px;
      right: 24px;
      background-color: #faa7a7;
      color: #ffffff;
      border: 0;
      border-radius: 8px;
      outline: none;
      font-size: 20px;
      padding: 12px;
      cursor: pointer;
    }
  }
}
</style>
