<template>
  <div class="top-bar-container">
    <div class="name">
      Double Calculator
    </div>
  </div>
</template>

<style lang="scss" scoped>
.top-bar-container {
  width: 100%;
  background-color: #ffffff;
  padding: 12px 24px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 1);
  -moz-box-shadow: 0px 0px 10px 0pxrgba(111, 111, 111, 1);
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 1);
  > .name {
    font-size: 24px;
  }
}
</style>
