<template>
  <div class="nuxt-container">
    <TopBar
      class="top-bar"
    />
    <Nuxt />
  </div>
</template>

<script>
import TopBar from '~/components/TopBar'

export default {
  components: {
    TopBar
  }
}
</script>
<style>
html {
  font-family: 'Kanit', sans-serif;
  color: #707070;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font-family: 'Kanit', sans-serif;
}

html,
body,
#__nuxt,
#__layout,
.nuxt-container {
  height: 100%;
  overflow: hidden;
  /* padding-top: 60px; */
}

.nuxt-container {
  padding-top: 60px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
</style>
