<template>
  <div class="container">
    <Calculator
      class="calculator"
      name="Calculator A"
      @onChangeResult="saveHistory"
    />
    <Calculator
      class="calculator"
      name="Calculator B"
      @onChangeResult="saveHistory"
    />
    <History />
  </div>
</template>

<script>
import Calculator from '~/components/Calculator'
import History from '~/components/History'

export default {
  components: {
    Calculator,
    History
  },
  methods: {
    saveHistory (data) {
      this.$store.commit('history/addHistory', data)
    }
  }
}
</script>

<style lang="scss">
.container {
  display: flex;
  align-items: flex-start;
  padding: 24px;
  height: 100%;
  > .calculator {
    margin-right: 24px;
  }
}
</style>
